#root {
  margin: 0 auto;
  padding: 0 144px;
}

.grid-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 12.5rem), 1fr));
}

.awards {
  grid-column: span 3;
}

.partner {
  grid-column: span 3;
}

h3,
li {
  color: #000033;
  font-family: "Montserrat", sans-serif;
}

.reveal {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: all 1s ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

@media (max-width: 1200px) {
  #root {
    padding: 0 16px;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
  }
}
