#root {
  margin: 0 auto;
  padding: 0 144px;
}

.grid-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 12.5rem), 1fr));
}

.qwea {
  grid-column: span 3;
}

.partner {
  grid-column: span 3;
}
