#root {
  margin: 0 auto;
  padding: 0 144px;
}

.grid-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 12.5rem), 1fr));
}

.prices {
  grid-column: span 3;
}

.partner {
  grid-column: span 3;
}

h3,
li {
  color: #000033;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 1280px) {
  #root {
    padding: 0 16px;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
  }
}
